@model IEnumerable<ePortfolio.Models.Skill>

@{
    ViewData["Title"] = "Skills";
}

<header class="jumbotron">
    <h1>Dr Derek Peacock</h1>
    <h2>Summary of my Personal Skills</h2>
    <p>
        <a class="btn btn-info" asp-action="FullSkills">Full Skill List</a>
    </p>
</header>


<table class="table table-bordered main-text">
    <thead>
        <tr class="bg-info">
            <th class="text-center">
                Skill No
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Priority)
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.SkillNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.SkillID">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
                <td class="text-center" style="width:10%;">
                    @Html.DisplayFor(modelItem => item.Level)
                </td>
                <td class="text-center" style="width:10%;">
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>

                <td style="width:10%;">
                    <a class="btn btn-info" asp-controller="Home" asp-action="Details" asp-route-id="@item.SkillID">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
