@model ePortfolio.Models.Skill
@{ 
    string level = "skill-low";
    string priority = "skill-low";

    if(Model.Level == SkillLevels.Low)
    {
        level = "skill-low";

    }
    else if(Model.Level == SkillLevels.BelowAverage)
    {
        level = "skill-below";
    }
    else if (Model.Level == SkillLevels.AboveAverage)
    {
        level = "skill-above";
    }
    else
    {
        level = "skill-high";
    }

    if (Model.Priority == SkillLevels.Low)
    {
        priority = "skill-low";

    }
    else if (Model.Priority == SkillLevels.BelowAverage)
    {
        priority = "skill-below";
    }
    else if (Model.Priority == SkillLevels.AboveAverage)
    {
        priority = "skill-above";
    }
    else
    {
        level = "skill-high";
    }
}

<section class="row">

    <section class="col-lg-4 main-text">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3>
                    @Model.Category Skill
                </h3>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Level)
                    </dt>
                    <dd>
                        <span class="@level">&nbsp;</span>
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Priority)
                    </dt>
                    <dd>
                        <span class="@priority">&nbsp;</span>
                    </dd>
                </dl>
            </div>
        </div>
    </section>
    <section class="col-lg-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3>Evidence: @Model.Name</h3>
            </div>
            <div class="panel-body">
                @Html.Raw(Model.Evidence)
            </div>
        </div>
    </section>
</section>
