@model IEnumerable<ePortfolio.Models.Skill>

@{
    ViewData["Title"] = "Index";
}

<header class="jumbotron">
    <h1>Dr Derek Peacock</h1>
    <h2>Listing of my Personal Skills</h2>
    <p>
        <a class="btn btn-info" asp-action="Create">Add a New Skill</a>
    </p>
</header>


<table class="table table-bordered">
    <thead>
        <tr class="bg-info">
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Evidence)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td style="width:20%;">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Evidence)
            </td>
            <td style="width:20%;">
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.SkillID">Edit</a>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.SkillID">Details</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.SkillID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
